extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

       
        h1 Franklyn Rodriguez

        p Full Stack JavaScript Developer


        .about-bio

       
          p I'm a software engineer apprentice at Intuit pivoting into software engineer from healthcare. My interest was sparked by my interest in accessibility.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Python
          li Flask
          li Postgres/SQL database 
          li NoSQL database


        h6 Contact Info


        ul
          li 555-555-1234
          li franklynrodriguez@email.com

        a.btn-link(href='https://www.linkedin.com/in/franklyn-rodriguez-softwaredeveloper') LinkedIn
        a.btn-link(href='https://github.com/FranklynRod') GitHub


    nav.nav
      a(href='/')
        span &larr;
        |  Back