extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

   
    p Welcome! This project is a portfolio page that displays Franklyn's Treehouse's techdegree projects.


  article.portfolio-project-thumbs
    .projects-box.box.grid

     
      each project in projects

        .cell
          a(href=`projects/${project.id}`)
            img.thumbnail(src=`${project.homepage_image}`, alt=`image of ${project.project_name} site`)
            h5=`${project.project_name}`

